@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html,body
{
    height:100%;
    width:100%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(179deg, #23055b, #0c2b27, #020b33);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    color: #ffffff;
    
}

.typewriter
{
    display: grid;
  place-items: left;
}

.typewriter h1
{
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  animation: typing 2s, blink .5s step-end infinite alternate;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

th
{
    color:white;    
}
h1,h2,h3
{
    color:#23aaf2;
}
.links a
{
    font-size: xx-large;
    font-family: 'Raleway', sans-serif;
    color: #23aaf2;
}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
.imageHolder
{
    border-radius: 2%;
    width:100%;
    height:100%;
   /* background-image:conic-gradient(#0e7405,20deg,transparent 120deg);*/
}

.headerPFP
{
    height:95%;
    width:95%;
    margin:2.5% 2.5%;
    --angle: 0deg;
    border: 6px solid;
    border-image: conic-gradient(from var(--angle), rgb(8, 133, 229), rgb(3, 9, 191), rgb(83, 2, 134), rgb(59, 1, 96), rgb(63, 1, 70),rgb(8, 133, 229)) 1;
    
    animation: 3s rotate linear infinite;
}

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  

/*
to do:
code not working
AP CS: finish the python to arduino communication / restyle the website / add the hacks / github issues plan
AP World: write 8 pages of notes today
Chem: none
Math: none
Honors Humanities: finish the self portrait thing: fill out the art topic sheet
Hanover: email
academic thing


a string: contains time data + 10

---
layout: default
title: Student Blog
---


## Who am I??
I am Jonathan Liu, and I started coding via horrible Unity games in around sixth grade, but I didn't take programming as seriously as I did until now. 
 

<img src="images/freeform.png">

<img src="images/freeform.png">
I have experience in the following languages:
C++,HTML,Javascript,CSS,Python, and Unity C#.

I like to play electric/acoustic guitar, piano, play badminton, code, and do 3D art. 

Here are some projects I've worked on:

A chatting application with the Firebase database, [Crescent](https://spooketti.github.io/Crescent/)

<iframe width="560" height="315" src="https://spooketti.github.io/Crescent/"></iframe>

A clone of Wordle I made whilst in English class, [Wordle Clone](https://3pb65i.csb.app/)
<iframe width="560" height="315" src="https://3pb65i.csb.app/"></iframe>


A clone of Minesweeper I made because I hated not being able to use keyboard controls for the game, [Minesweeper](https://spooketti.github.io/minesweeper)
<iframe width="560" height="315" src="https://spooketti.github.io/minesweeper"></iframe>

An (admittedly buggy) version of Solitaire I wrote while on a roadtrip, [Solitaire](https://spooketti.github.io/solitaire/)
<iframe width="560" height="315" src="https://spooketti.github.io/solitaire/"></iframe>

 A project involving Python, Arduino, Serial Ports, and Minecraft 

<iframe width="560" height="315" src="https://www.youtube.com/embed/cMuKp44WRo8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

This was part of a project regarding reading brainwaves, soldering, and Arduino.
<img src="images/eeg.jpg">
And many other projects that aren't noted here such as [this](https://spooketti.github.io/fivenights)

Thanks for stopping by!
<img src="images/awesome.jpg">
<img src="images/evenmoreawesome.jpg">

<button id='bruh' data-url="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUXbmV2ZXIgZ29ubmEgZ2l2ZSB5b3UgdXA%3D"  onclick="window.location.href = this.dataset.url;">Mystery Button</button>

## Overview of Hacks, Study and Tangibles
Blogging in GitHub pages is a way to learn and code at the same time. 


- Plans, Lists, [Scrum Boards](https://clickup.com/blog/scrum-board/) help you to track key events, show progress and record time.  Effort is a big part of your class grade.  Show plans and time spent!
- [Hacks(Todo)](https://levelup.gitconnected.com/six-ultimate-daily-hacks-for-every-programmer-60f5f10feae) enable you to stay in focus with key requirements of the class.  Each Hack will produce Tangibles.
- Tangibles or [Tangible Artifacts](https://en.wikipedia.org/wiki/Artifact_(software_development)) are things you accumulate as a learner and coder. 

*/

