
#piano
{
    position: fixed;
    left: -20%;
    top:0;
    height:100%;
    width:20%;
    background-color: black;
}

#pianoHead
{
    position: absolute;
    left: 0;
    top:0;
    height:100%;
    width:20%;
    background-color: black;
}

.pianoW
{
    width:99.8%;
    position: absolute;
    height:4.8%;
    background-color: white;
    border: .1px solid black;
    left:0;
    transition: all 0.05s ease;
}

.pianoB
{
    width:50%;
    height:2.5%;
    position:absolute;
    left:0;
    background-color: black;
    z-index: 1;
    transition: all 0.05s ease;
}

.pianoW:hover
{
    filter:brightness(80%);
}

.pianoW:active
{
    filter:brightness(50%);
}

.pianoB:hover
{
    background-color: rgb(63, 63, 63);
}

.pianoB:active
{
    background-color: rgb(107, 107, 107);
}

#pianoBody
{
    position: absolute;
    left: 20%;
    top:0;
    height:100%;
    width:80%;
    background-color: white;
}

@keyframes tweenPianoRight {
    0%
    {
        left:-20%;
    }
    100%
    {
        left:0;
    }
}

@keyframes tweenPianoLeft {
    0%
    {
        left:0%;
    }
    100%
    {
        left:-20%;
    }
}

