<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="https://spooketti.github.io/studentmodern">Home</a></li>
        <li class="fork"><a href="https://spooketti.github.io/studentmodern/compsci">CompSci</a></li>
        <li class="fork"><a href="https://spooketti.github.io/studentmodern/blogs">Blogs</a></li>
        <li class="title"><a href="https://spooketti.github.io/studentmodern/help">Help</a></li>
        <li class="title"><a href="https://github.com/spooketti/studentmodern#readme">View On GitHub</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>