<link rel="stylesheet" href="style/main.css">

<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <div class="imageHolder">
          <img src="images/me.png" class="headerPFP">
          <div class="pfpBorder"></div>
        </div>
        <div class="links">
        <a href="{{site.baseurl}}/">Home</a><br>
        <a href="{{site.baseurl}}/compsci">CompSci</a><br>
       <a href="{{site.baseurl}}/blogs">Blogs</a><br>
       <a href="{{site.baseurl}}/help">Help</a><br>
       <a href="{{ site.github.repository_url }}#readme">View On GitHub</a>
        </div>
        
      </ul>
    </nav>
  </div><!-- end header -->
</header>